{% extends 'base.html.twig' %}

{% block title %}Connectez-vous
{% endblock %}
{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}
	<div>
		<section>
			<h1>Se connecter</h1>
			<form action="{{ path('login') }}" method="POST">
				<label for="username">Votre email</label>
				<input type="email" id="email" name="_username" placeholder="jeandupont@email.com">

				<label for="password">Votre mot de passe</label>
				<input type="password" id="password" name="_password" placeholder="xxxxxxxxxx">

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button type="submit" class="primaryButton">Se connecter</button>
			</form>
		</section>
		<hr>
		<section class="sectionContributor">
			<h2>Devenir contributeur</h2>
			<p>Vous souhaitez rejoindre notre communauté, et enrichir nos pages avec vos propres contenus?</p>
			<a href="#" title="lien vers la page demande pour devenir contributeur">
				<button class="secondaryButton">Faire la demande</button>
			</a>
		</section>
	</div>
{% endblock %}
