<div class="sectionGlobaleLecteur">
	<h2>{{ podcast }}</h2>
	<article class="ImageIllustrationEmission">
		<h3 class="titreEmission">{{ title }}</h2>
	</article>
	<div class="sectionLecteurAudio">
		<div class="lecteurAudioWithButtons">
			<audio src="{{ url }}"></audio>
			<button class="buttonPlay">
				<img class="iconeButton" src="{{ asset("/images/play-circle.svg") }}" alt="icône représentant le bouton play">
			</button>
		</div>
		<div class="inputPlusTrackTime">
			<p class="paragraphElapsedTime">
				<span class="elapsed">0:00</span>
			</p>
			<input class="track" type="range" min="0" value="0" max="">
			<p class="paragraphDurationPodcast">
				<span class="track-fullTime">1:00</span>
			</p>
		</div>
		<div class="desktop">
			<input type="range" class="volume" min="0" max="1" value="0.5" step="0.01">
			<span class="volume-value">100%</span>
		</div>
	</div>
</div>
