<script>
	let listeNotifications = document.querySelector("#listNotifications");

const eventSource = new EventSource("{{ mercure('notifications')|escape('js') }}");
eventSource.onmessage = event => { // Will be called every time an update is published by the server
notif = JSON.parse(event.data) // convertir la notification en objet classique
console.log(notif);
// Accéder directement au message dans la propriété 'status'
if (notif.message) { // Si une notification a été détectée
if (notif.type === "article") { // Si la notification concerne un article
console.log("notif de type ", notif.type);
incrementNumberOfNotifcations();
listeNotifications.insertAdjacentHTML("afterbegin", "<li><a href='/articles/20'>" + notif.message + "</a></li>");
} else if (notif.type === "demand") {
console.log("notif de type ", notif.type);
incrementNumberOfNotifcations();
listeNotifications.insertAdjacentHTML("afterbegin", "<li><a href='/articles/20'>" + notif.message + "</a></li>");
}
}
}

function incrementNumberOfNotifcations() {
let numberOfNotifcations = document.querySelector("#numberOfNotifcations");
numberOfNotifcations.textContent = notif.numberOfNotifcations;
}
</script>
