{% extends "base.html.twig" %}
{% block title %}Devenir collaborateur
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('demandDetailPage')}}
{% endblock %}
{% block body %}
	<h1>detail page réponse</h1>
{% endblock %}
