
body {
    margin-top: 2rem; 

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    main {
        margin: auto; 
        @media screen and (min-width: 1024px){
            margin-bottom: 4rem;
        }   
    }

    p {
        line-height: 1.5rem;
        white-space: break-spaces;
        @media screen and (min-width: 1024px) {
            font-size: 19px;
        }
    }

    h1 {
        font-size: 20px;
    }
    
}

