// utilisation de placeholder pour regrouper le style d'une boite article

%boxArticle {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 1rem;
    height: 248px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5rem;
    
    &:hover {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                }
    @media screen and (min-width: 1024px) {
        width: 240px;
        height: 394px;
    }
    .divResumeArticle {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        button {
            padding:0px !important;
            background: transparent;
            color: white;
            border: none;
            @media screen and (min-width: 1024px){
                font-size: 16px;
                width: 235px;
                margin-right: -4rem;
            }
            img {
                position: relative;
                top: 6px;
                @media screen and (min-width: 1024px){
                    top: 4px;
                    width: 30px;
                }
            }                  
        }
        p{
            font-size: 12px;
            line-height: 11.8px;
            @media screen and (min-width: 1024px) {
                font-size: 15px;
                font-weight: 500;
                line-height: 1.1;
            }
        }
    }
    h2 {
       // font-size: calc($font-size*2.8);
       font-size: 16px;
        @media screen and (min-width: 1024px){
            font-size: 20px;
        }
    }

    h3 {
        font-size: 11px;
        line-height: normal;
        @media screen and (min-width: 768px){
            font-size: 1.17em;
            line-height: 1.5rem;;
        }
    }
}

// Rendre le main responsive pour les pages de formulaire devenir membre, création d'article
%mainResponsive {
    width: 84vw;
    max-width: 800px;
    margin-bottom: 2.5rem !important;
    @media screen and (min-width: 1024px) {
        margin: auto;
    }
}

// Stylisation de DIV comprenant un input et son label en display flex rangé en colonne verticale
%divLabelPlusInput {
            display: flex;
            flex-direction: column;

            label {
                font-weight: bold;
            }
}

//Stylisation de la liste de numérotation des pages

%numerotationPage {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 25px;
    .actualPage {
        background: $primaryColor;
        padding: 5px 10px;
        border-radius: 50px;
        color: blanchedalmond;
        position: relative;
        bottom: 3px;
            }
}

// Styliser les lecteurs audio sur les écrands de 1024px et plus
%stylizeAudioPlayerGreaterScreens {
    @media screen and (min-width: 1024px) {
        // display: grid;
        //         // gap: 9rem;
        //         grid-template-columns: 400px 400px;
        //         // Centrer le block des lecteurs
        //         margin: auto;
        //         // width: 1000px;
        //         margin-top: 1rem;
                display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
}