// Les couleurs de l'application
$primaryColor: #FA6C30;
$secondaryColor: #C68F70;
$tertiaryColor: #714534;
$fourthColor: #CABEB4;
$fifthColor: white;

// La taille de police de caractères par défaut de l'application
$font-size:14px;