form {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;

    input[type="image"]{
        position: relative;
        right: 2.2rem;
    }

    input[type="search"]{
        height: 3rem;
    }
}