// Stylisation par défaut des boutons dans toutes les pages
input {
    border: 1px solid black;
    height: 50px;
    label {
        margin-top: 0.8rem;
    }

    &::placeholder {
        color: #714534;
    }

    &:focus {// Quand on clique sur un input, la couleur du background change et la couleur du texte
        background: #FFC107;
        color:  $fifthColor;
    }
}