// Stylisation par défaut des boutons dans toutes les pages
input {
    border: 1px solid black;
    height: 50px;
    // padding: 0px 1rem;
    label {
        margin-top: 0.8rem;
    }

    &::placeholder {
        color: $tertiaryColor;
    }

    &:focus {// Quand on clique sur un input, les couleur du background et la couleur du texte changent
        background: #ffc1075c;
        color:  black;
        &::placeholder {
            visibility:hidden;// Quand on clique sur un input, le texte de substitution de l'input disparait 
        }
    }
}