%commonCSS { // Le SCSS commun aux messages de succès et d'erreurs
    padding: 1rem;
    color: white;
    position: relative;
    top: 1rem;
    text-align: center;
}

ul:has(.flash-error ){
    background: #ff4b2b;
    @extend %commonCSS;

}


ul:has(.flash-success){
    background: #eaa032;
    @extend %commonCSS;
}