// .flash-error {
//     background: #ff4b2b;
//     padding: 1rem;
//     color: white;
//     position: relative;
//     top: 1rem;
// }

// .flash-success {
//     background: #5fecac;
//     padding: 1rem;
//     color: white;
//     position: relative;
//     top: 1rem;
// }

%commonCSS {
    padding: 1rem;
    color: white;
    position: relative;
    top: 1rem;
    text-align: center;
}

ul:has(.flash-error ){
    background: #ff4b2b;
    @extend %commonCSS;

}


ul:has(.flash-success){
    background: #5fecac;
    @extend %commonCSS;
}