// Stylisation des messages d'erreur classiques en production lorsqu'elles suriviennent
main {
        margin-top: 3rem !important;
        margin-bottom: 2rem !important;
        width:84vw !important;
        @media screen and (min-width: 768px){
        width:84vw !important;
        margin-bottom: 5rem !important;
        }

        section {
            margin-top: 2rem;
        }
}