@import '/assets/styles/utils/variables';
@import '/assets/styles/components/buttons';
@import '/assets/styles/components/formSearch';
@import '/assets/styles/components/_paginator';
@import '../utils/placeholders';


main {
    h1 {
        margin-left: 2rem;
        margin-top: 2rem;
        @media screen and (min-width: 1024px) {
            font-size: 30px;
           margin-left: 10vw;
        }
    }
    .divAllArticles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: 293px;
        margin: auto;
        width: min-content;

        @media screen and (min-content: 768px){
            grid-template-columns: 1fr 1fr 1fr;
            gap: 4rem;
            margin: auto;
            width: min-content;
        }
        @media screen and (min-width: 1024px) {
            grid-template-columns: 300px 300px 300px;
            margin: 4rem auto 4rem auto;    
            width: 1000px;
        }
        article{
            //ici
            @extend %boxArticle;
        }
    }

//Stylisation de la liste de numérotation des pages
ul {
    @extend %numerotationPage;
}

// Stylisation de l'annonce qu'aucun article n'est disponible à la page de tous les articles
#messageNoArticle {
    text-align: center;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}
}
