@import './../utils/variables';
@import './../components/buttons';

main {
    margin-top: 3rem;
    width: 85vw;
    @media screen and (min-width: 1024px) {
        width: 79vw;
        margin-top: 5rem;

    }

    #sectionArticleDetail {
        figure {
         //   border: thin #c0c0c0 solid;
                      margin: auto;

            &:hover {
                figcaption {
                    opacity: 1;
                    transition: all 1s ease;
                }
            }
            .imageIllustration {
                width: 100%;
            }
            figcaption {
            background-color: $tertiaryColor;
            color: $fifthColor;
            font-style: italic;
            padding: 0.5rem 0;
            text-align: center;
            position: relative;
            bottom: 2.2rem;
            opacity: 0;
            @media screen and (min-width: 1024px){
                padding: 1rem 0;
                bottom: 3.3rem;
            }
            }
          }
          

     
          

        h1 {
            @media screen and (min-width: 1024px) {
                font-size: 4em;
            }
        }
        .imageIllustration {
            width: 95%;
            @media screen and (min-width: 1024px) {
                width: 100%;
            }
        }
    
        .divAuthorPlusDateOfPublication {
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
            @media screen and (min-width: 1024px){
                display: flex;
                justify-content: space-around;
                 gap: 30rem;
                 font-size: 1rem;
            }
            p {// ciblage de toutes les balises <p> enfants
                line-height: 0 !important;
                white-space: normal !important;
            }
            >p{// Ciblage du premier P enfant direct de la div "divAuthorPlusDateOfPublication"
                color: grey;
            }
            
            .divAuthorPlusIconePen {
                display: flex;
                justify-content: end;
                img {
                    @media screen and (min-width: 1024px){
                        margin-left: 1rem;
                        width: 45px;
                    }
                }
            }
        }

        .linkUpdateArticle {
            display: flex;
            justify-content: end;
            #buttonUpdateArticle {
                @extend .primaryButton;// étendre des propriétés se trouvant dans le composant bouton principal
    
             }
        }
    }
    #sectionRecommandationArticles {
        h2 {
            @media screen and (min-width: 1024px) {
                font-size: 2rem;
            }
        }

            .divAllArticlesRecommandition{
                article {
                    display: flex;
                    align-items: center;
                    @media screen and (min-width: 1024px){
                        margin-bottom: 2rem;
                    }
                    .imageIllustrationRecommandationArticle{
                        height: 96px;
                        width: 156px;
                        @media screen and (min-width: 768px){
                            display: grid;
                            grid-template-columns: 1fr;
                                height: 144px;
                             width: 234px;
                        }
                        @media screen and (min-width: 1024px){
                            width: 427px;
                            height: 227px;
                    }
                    }
                   
                    .divGlobalInfoAuthor {
                        @media screen and (min-width: 768px){
                            width: 100%;
                        }
                        .divLinePlusInfoAuther {
                            display: flex;
                            @media screen and (min-width: 768px){
                                display: flex;
                                margin-top: 1.2rem;
                            }
            
                            p {
                                background-color: $secondaryColor;
                                color:$fifthColor;
                                padding: 4px 1rem;
                                border-radius: 1rem;
                                width: 100%;
                                text-align: center !important;
                                white-space: unset !important;
                                @media screen and (min-width: 768px){
                                    padding: 1vw 1rem;
                                    font-size: 1.1rem;                                    
                                }
                                @media screen and (min-width: 1440px){
                                    font-size: 1.2rem;
                                    padding: 1.9rem 1rem;
                                }
                                a{
                                    color:  $fifthColor;
                                }
                            }
                        }
                    }
                }
                }        
        }
}