@import '/assets/styles/utils/variables';
@import '/assets/styles/components/buttons';
@import '/assets/styles/components/formSearch';

main {
    .sectionTrendingArticle {
        margin-top: 4rem;
        #trendingArticle {
            background-image: url('../../../public/images/illustrations/homeIllustration.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
    
            p {
                color: $fifthColor;
                font-size: $font-size*1.6;
                font-weight:100;
                margin-left: 2rem;
            }
    
            h1 {
                color:$fifthColor;
                margin-left: 2rem;
                span {
                    color:$primaryColor;
                }
            }

            
        }

        a{
            .primaryButton {
                width: 300px;
                background-color: $primaryColor;
                color: $fifthColor;
                display: block;
                margin: auto;
                margin-top: 2rem;
                border-radius: 15px;
            }
        }
    }

    .sectionTopArticleOfTheWeek {
      // @include CentrerElement(850px);
      background-color: rgb(183, 173, 173);
        margin: 3.5rem auto auto auto;
        width: 850px;

        p {
            font-size: $font-size*1.5;                
        }

        .boxArticle {
            background-image: url('../../../public/images/illustrations/illustrationArticleHome.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 307px;
            height: 500px;
            border:2px solid salmon;
            color: white;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .divResumeArticle {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                button {
                    border: none;
                    width: 200px;
                    height: 10px;
                    background-color: red;
                    img {
                        height: 10pxs;
                    }
                }
            }
            
        }
    }
    
}