@import '/assets/styles/utils/variables';
@import '/assets/styles/utils/mixins';
@import '/assets/styles/components/buttons';
@import '/assets/styles/components/formSearch';

main {
    .sectionTrendingArticle {
        margin-top: 4rem;
        #trendingArticle {
            background-image: url('../../../public/images/illustrations/homeIllustration.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
    
            p {
                color: $fifthColor;
                font-size: $font-size*1.6;
                font-weight:100;
                margin-left: 2rem;
            }
    
            h1 {
                color:$fifthColor;
                margin-left: 2rem;
                span {
                    color:$primaryColor;
                }
            }

            
        }

        a{
            .primaryButton {
                width: 300px;
                background-color: $primaryColor;
                color: $fifthColor;
                display: block;
                margin: auto;
                margin-top: 2rem;
                border-radius: 15px;
            }
        }
    }

    .sectionTopArticleOfTheWeek {
      //  @include CentrerElement(850px);
    }
    
}