@import '/assets/styles/utils/variables';
@import '/assets/styles/components/buttons';
@import '/assets/styles/components/formSearch';
@import '../utils/placeholders';

main {
    margin-bottom: 9rem !important;
    @media screen and (min-width: 1024px) {
        margin:0px auto  6rem auto !important;
    }
    .sectionTrendingArticle {
        margin-top: 2rem;
        #trendingArticle {
            background-repeat: no-repeat;
            background-size: cover;
            height: 170px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
    
            @media screen and (min-width: 1024px) {
                height: 100vh;// Dans les écrans d'ordinateure de plus de 1024px l'article tendance prendra toute la hauteur de l'écran
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
            }
            p {
                color: white;
                font-weight: 100;
                margin-left: 1rem;
                position: relative;
                top: 2rem;
                font-size: 14px;
                @media screen and (min-width: 1024px){
                    width: 609px;
                    font-size: 22px; 
                    margin-left: 4rem;
                }
            }
            }
    
            h1 {
                color:$fifthColor;
                margin-left: 1rem;
                @media screen and (min-width: 1024px){
                    font-size: 40px; 
                    margin-left: 4rem;
                }
                span {
                    color:$primaryColor;
                }
            }        
        }

        a{
            .primaryButton {// Le bouton 'lire l'article maintenant !' de la page d'accueil
                background-color: #FA6C30;
                color: white;
                display: block;
                margin: auto;
                margin-top: 2rem;
                border-radius: 15px;
                @media screen and (min-width: 1024px){
                    position: absolute;
                    margin-left: 4rem;
                    bottom: 3rem;
                    left: -1rem;
                }
            }
        }
    }

    .sectionTopArticleOfTheWeek {
      // @include CentrerElement(850px);
        margin: 3.5rem auto auto auto;
        height: 1000px;  
        width: 350px;
        @media screen and (min-width: 1024px){
            margin: auto;
            height: auto;
            width: auto;        }      
        p {
            font-size: 16px;  
            @media screen and (min-width: 1024px){
                margin-left: 1.3rem;}

            }      
        h2 {
            font-size: 20px;
            @media screen and (min-width: 1024px){
                margin-left: 1.3rem;
            }
        }

        .divArticlesOfTheWeek {// La div globale des articles à la page d'accueil
            display: flex;
            flex-direction: column;
            gap: 3rem;
            align-items: center !important;
            @media screen and (min-width: 1024px) {
                flex-direction: row;
                justify-content: space-around;
            }
            .boxArticle {
                @extend %boxArticle; // utilisation du placeholder %boxArticle
            }
        }
    }
    