@import '/assets/styles/utils/variables';
@import '/assets/styles/components/buttons';
@import '../utils/placeholders';

main {
    width: 349px;

    form {
        input {
            height: auto;
        }

        .divLabelPlusInputTitle {
            display: flex;
            flex-direction: column;
        }

        #divRowOfInputImageIllustration {// La DIV contenant l'input de type file pour l'upload d'image
            border: 2.4px solid #FFA800;
            display: flex;
            flex-direction: column;
            padding: 2rem 0;
            align-items: center;
            border-radius: 9px;
            
            #article_imageIllustration {// id par défaut donné par Symfony à l'input file
                opacity: 0;
                position: absolute;
            }
        }
    }
}