@import '../utils/mixins.scss'; // Les mixins sont prioritaires dans les règles d'importation
@import '/assets/styles/utils/variables';
@import '/assets/styles/components/buttons';
@import '../utils/placeholders';

main {
    width: 84vw;
    max-width: 800px;
    margin-bottom: 2.5rem !important;
    @media screen and (min-width: 1024px) {
        margin: auto;
    }

    h1 {
    margin: 3rem 0;
    }


    form {
        @media screen and (min-width: 1024px) {
            font-size: 1.2rem;
        }

        .divLabelPlusInputTitle {
            @extend %divLabelPlusInput;
        }
       
       .labelOfImageIllustrionFormType {
         background-color: #FFA800;
         padding: 0.3rem;
        }
        
        #divGlobalInputImage {
            margin-bottom: 1.5rem;
            #labelIllustrationImage {
                font-weight: bold;
            }
            
            #CurrentImageIllustration {
                width: 100%;
                margin-bottom: 0.5rem;
                @media screen and (min-width: 1024px) {
                    margin-bottom: 1rem;
                }
            }
            
            // Inclusion du mixin makeDesignClickSpace pour styliser le visuel de l'upload de fichier d'image d'illustration d'un article
            @include makeDesignClickSpace('#article_mainImageIllustration_imageFile_file','#divRowOfInputImageIllustration');
        }

        .divInfoImageIllustrationPrincipale {
            div {
                display: flex;
                flex-direction: column;
                label {
                    margin-top: 1rem;
                }
                input {
                    margin-top: 1rem;
                }
                #labelOfphotographer {
                    background-color: #FFA800;
                    padding: 0.3rem;                    
                }

                #article_mainImageIllustration_source_help {
                    color: $tertiaryColor;
                }
            }
        }
            button[type="submit"] {
               @extend .primaryButton;
               width: auto;
               padding: 0px 2rem;
            }
            .buttonPreview {
                width: auto;
                font-size: 1rem;
                @media screen and (min-width: 1024px) {
                    border: none;
                    border-radius: 30px;
                    font-size: 24px;
                    margin-top: 1rem;
                    width: 190px;
                    color: #714534;
                    border: 5px solid #714534;
                    width: auto;
                               }
                }

        ul li {
            color: red;
        }
    }

    .divLabelPlusTextareaAbstract {
        margin: 1.5rem 0px;
        display: flex;
        flex-direction: column;
       
        textarea {
            margin-top: 0.5rem;
            height: 70px;
            background-color:  rgb(234, 234, 232);
            resize: none;
            @media screen and (min-width:1024px) {
                height: 100px;
            }
        }
    }

    /****  Stylisation de CK Editor ******/
    .ck {
        height: 400px;
        border: 2px solid #714534;
        border-radius: 0 0 10px 10px;
    }
    
    .ck.ck-editor__main>.ck-editor__editable {
        background-color: rgb(234, 234, 232) !important;
    }

    .divLabelPlusInputSelectCategory {
        margin: 1.5rem 0px;
    }

    .divButtonSubmit {
        display: flex;
    justify-content: space-between;
    }

    #deleteButton {
        @extend .primaryButton;// Etendre les propriétés du primaryButton
        background-color: red !important;
         font-size: 1rem;
         width: auto;
        @media screen and (min-width: 1024px) {
            font-size: 24px;
            height: 58px;
            padding: 0 3rem;
        }
    }
}


.vich-file {
    opacity: 0; // Rendre invisible la div contenant l'input Vich-File de mise à jour d'image
    position: absolute; // Faire disparaitre l'élement de l'ordre d'affichage dans le DOM
}