@import './../utils/mixins';
@import './../utils/variables';
@import './../components/buttons';
@import './../utils/placeholders';

main {
    // Stylisation du main
        @extend %mainResponsive;
        margin-top: 1.5rem !important;
        @media screen and (min-width: 1024px) {
            max-width: none; // Désactiver le max-width
            margin-top: 3rem !important;
        }
    .divTopFourEpisodes {
        // Mise en page des lecteurs sur les écrans de plus de 1024pixels
        @media screen and (min-width: 1024px) {
            display: grid;
            gap: 9rem;
            grid-template-columns: 400px 400px;
            // Centrer le block des lecteurs
            margin: auto;
            width: 1000px;
            margin-top: 1rem;
        }

    // Stylisation des lecteurs audio
    .sectionGlobaleLecteur {
        @include makeDesignAudioPlayer(); 
    }
    }
}
