@import './../utils/mixins';
@import './../utils/variables';
@import './../components/buttons';
@import './../utils/placeholders';

main {
    // Stylisation du main
        @extend %mainResponsive;
        margin-top: 1.5rem !important;
        @media screen and (min-width: 1024px) {
            max-width: none; // Désactiver le max-width
            margin-top: 3rem !important;
        }

        #divCallToAction{
            background-image: url("../../images/illustrations/illustration_oieil_de_la_mode_page_detail_podcast.png");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 18px;
            height: 143px;
            display: flex;
            justify-content: end;
            @media screen and (min-width: 768px){
                height: 234px;
            }
            @media screen and (min-width: 1024px){
                height: 341px;
            }
            @media screen and (min-width: 1440px){
                height: 477px;
            }
            article {
                margin-right: 10px;
                margin-top: 1rem;
                @media screen and (min-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    margin-bottom: 1rem;
                }
                @media screen and (min-width: 1024px){
                    width: 500px;
                }

                h2 {
                    font-size: 17px;
                    color: $fifthColor;
                    display: inline;
                    @media screen and (min-width: 768px) {
                        font-size: 25px;
                    }
                    @media screen and (min-width: 1024px){
                        font-size: 30px;
                    }
                    span { // Stylisation du mot "mode"
                      @include stylishWithBackgroundColor(#FFE81A)
                    }
                }
                p {
                    width: 198px;
                    line-height: normal;
                    @media screen and (min-width: 1024px){
                        width: 470px;
                    }
                }
                button {
                    position: relative;
                    bottom: 11px;
                    background: black;
                    color:  $fifthColor;
                    border: none;
                    border-radius: 6px;
                    @media screen and (min-width: 1024px){
                        width: 492px;
                        height: 72px;
                        border-radius: 10px;
                    }
                }
            }
           
        }


        // Stylisation des podcasts
    .divTopFourEpisodes {
        // Mise en page des lecteurs sur les écrans de plus de 1024pixels
        @extend %stylizeAudioPlayerGreaterScreens;        

    // Stylisation des lecteurs audio
    .sectionGlobaleLecteur {
        margin-top: 2rem;
        @include makeDesignAudioPlayer(); 
        span {
            @include stylishWithBackgroundColor(#FFE81A)
        }
    }
    }

    // Stylisation de la section du message intermediaire
    #sectionSlogan {
        display: flex;
        justify-content: space-around;
        padding-bottom: 3.5rem;
        @include intermediaryMessage(black);
        margin-top: 2rem;
        @media screen and (min-width: 1024px) {
            margin-top: 4rem;
        }

        #contentMessage {
            text-align: center;
            position: relative;
            font-size: 13px;
            top: 2rem;
            white-space: normal;
            padding-bottom: 2rem;
            @media screen and (min-width: 768px) {
                top: 2rem;
                font-size: 20px;
            }
        }
    }

    //Stylisation de la liste de numérotation des pages
ul {
    margin-top: 7rem;
    @extend %numerotationPage;
}
}
