.header {
    display: none;
}

.headerMobile {
    width: 85vw;
    margin: auto;
    .icone{
        height: 40px;
    }
    @media screen and (max-width: 992px) {
        display: block;
    }
    #headerDivIconesLogoPlusMenu {
        display: flex;
        justify-content: space-between;
    }

    nav {
        position: absolute;
        right: 62rem;
        top: -1rem;
        z-index: 1;
        transition: all 0.5s ease;
        .headerListLinks {
            display: flex;
            justify-content: center;

            .divLogoExitMenu {
                width: 20vw;
                position: relative;
                top: 1rem;
                background: #e9e4e4;

                .iconeExitMenu {
                    margin: auto;
                    display: block;
                    margin-top: 1rem;
                }
            }

            .divImageProfilePlusHeaderLinks {
                background-color: #C68F70;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 80.4vw;
                position: relative;
                top: 1rem;

                .imageProfile {
                    height: 90px;
                    display: block;
                    margin: auto;
                }

                .headerNavListLinksRight {
                    list-style: none;
                    height: 90px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    margin-bottom: 20rem;
                    gap: 1.5rem;

                    #buttonConnect {
                        background: #EC751E;
                        padding: 0.8rem 0;
                        color: white;
                        border: none;
                    }

                    li {
                        width: 376px;
                    }
                }
            }
        }
    }


    .mobile-menu {
        right: 0px;
        /* cette valeur permet de faire apparaitre le menu caché car par défaut la nav est en position absolute avec right à right: 62rem; */
    }
}

.icone {
    height: 100px;
}


// Stylisation du header en destop
.headerDesktop {
    @media screen and (min-width: 1024px) {
        display: block;
    }
    .divHeaderDesktop {
        display: flex;
        justify-content: space-around;
       // display: block;// Cacher le headerDesktoppendant le développement du header mobile
        .headerNavListLinks {
            display: flex;
            justify-content: space-between;
            width: 600px;
            a {
                font-size: 20px;
            }

            .linkDashboardDesktop {
                background-color: $primaryColor;
                color: $fifthColor;
                padding: 0.5rem 1rem;
                border-radius: 8px;
                
            }

            .linkLogoutDesktop {
                background-color: $secondaryColor;
                color: $fifthColor;
                padding: 0.5rem 1rem;
                border-radius: 8px;
            }
        }
    
        .icone, .imageProfile {
            height: 40px;
            position: relative;
            top: 0.5rem;
        }
    
        .active {
            background: #EC751E;
            padding: 0.5rem 1rem;
            color: white;
        }
    }
    
}
