<!DOCTYPE html>
<html lang="fr-fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('./images/logo.svg')}}"> {% block metadescription %}{% endblock %}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{# importation du script personalisé des notification #}
			{{ encore_entry_script_tags('notifications')}}
		{% endblock %}
	</head>
	<body>
		{% include "partials/_header.html.twig" %}
		<main>
			{% block body %}{% endblock %}

		</main>
		{% include "partials/_footer.html.twig" %}
	</body>
	{# inclusion du script de gestion des notifications de l'Admin #}
	{% include "/partials/_script_notifications.html.twig" %}
</html>
