{% extends 'base.html.twig' %}

{% block title %}Les podcasts
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('allPodcasts') }}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('audioPlayer') }}
{% endblock %}
{% block body %}
	<h1>Les podcasts</h1>
	<p>Nos podcasts ont pour mission de décortiquer le monde de la mode et ses contours</p>

	<section id="sectionPodcasts">
		<article id="articleOeilDeLaMode">
			<button>L’oeil de
				<span>la mode</span>
			</button>
		</article>
		<article id="slogan">
			<h2>L'équipe des podcasteurs</h2>
			<p>Vous souhaitez rejoindre notre équipe ou même être podcasté ?</p>
			<p>Inscrivez-vous maintenant via le formulaire.</p>
			<div>
				<a href="{{ path("admin_get_demand_members")}} " title="lien vers la page de demande de devenir collaborateur">
					<button>Participer maintenant !</button>
				</a>
			</div>
		</article>
		<article id="articleLaModeParle">
			<button>
				<span>la mode</span>
				parle
			</button>
		</article>
	</section>

	<section id="topEmissions">
		<h2>Le TOP émission de  la semaine</h2>
		<p>La semaine a été  ponctuée par des invités phares, telle que Farelll  Wall... On vous  laisse découvrir les passionnantes discussions avec nos invités</p>
		<div
			class="topFourEpisodes">
			{# Affichage des lecteurs audio des podcasts #}
			{% set link =  "/upload/podcast/hardheaded_ilovethewayyousee.mp3" %}
			{# Stockage de l'url de l'audio dans une variable link #}
			{% include '/partials/_audio_player.html.twig' with { url: link } %}

			{% set link =  "/upload/podcast/hardheaded_ilovethewayyousee.mp3" %}
			{# Stockage de l'url de l'audio dans une variable link #}
			{% include '/partials/_audio_player.html.twig' with { url: link } %}

			{% set link =  "/upload/podcast/hardheaded_ilovethewayyousee.mp3" %}
			{# Stockage de l'url de l'audio dans une variable link #}
			{% include '/partials/_audio_player.html.twig' with { url: link } %}

			{% set link =  "/upload/podcast/hardheaded_ilovethewayyousee.mp3" %}
			{# Stockage de l'url de l'audio dans une variable link #}
			{% include '/partials/_audio_player.html.twig' with { url: link } %}
		</div>


	</section>
{% endblock %}
